{% extends 'user_base/base.html' %}
{% load static %}
{% block styles %}
<link rel="stylesheet" href="{% static 'order/css/payment.css' %}">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
{% endblock %}

{% block content %}
<!--main content-->
<div class="container">
    <!-- Breadcrumbs -->
    <div class="breadcrumbs">
        <a href="{% url 'cart' %}">Shopping Cart</a>
        <span>/</span>
        <a href="{% url 'checkout' %}">Checkout</a>
        <span>/</span>
        <span class="active">Payment</span>
    </div>

    <div class="payment-layout">
        <!-- Payment Methods -->
        <div class="payment-methods">
            <h2>Payment Method</h2>
            
            <div class="payment-tabs">
                <div class="tab" onclick="showTab('upi')">Online Payment</div>
                <!-- <div class="tab " onclick="showTab('debit-card')">Debit Card</div> -->
                <div class="tab active" onclick="showTab('cod')">Cash on Delivery</div>
                <div class="tab" onclick="showTab('wallet')">Wallet</div>
            </div>
            
            <!-- Online Payment Payment -->
            <div id="upi" class="tab-content">
                <p>Pay instantly using UPI, cards, or net banking with our secure online payment gateway.</p>
 
                    <button onclick="createPaymentAjax()" class="btn-pay" style="margin-top: 1rem;">Pay Online</button>
 
            </div>       
            
            <!-- Cash on Delivery -->
            <div id="cod" class="tab-content active">
                <p>Pay in cash when your order is delivered.</p>
                <div class="cod-message">
                    <p>You will pay ₹{{ order.grand_total }} at the time of delivery.</p>
                    <p>COD orders may require OTP confirmation.</p>
                </div>
                <form action="{% url 'place-order' order.uuid %}" method="post">
                    {% csrf_token %}
                    <input type="hidden" name="payment_method" value="COD">
                    <button class="btn-pay">Place Order</button>
                </form>
            </div>
            
            <!-- Wallet -->
            <div id="wallet" class="tab-content">
                <p>Pay using your wallet balance</p>
                <button class="btn-pay" style="margin-top: 1rem;">Pay with Wallet</button>
            </div>
        </div>
        
        <!-- Order Summary -->
        <div class="order-summary">
            <h3>Order Summary</h3>
            
            <div class="summary-row">
                <span>Subtotal (2 items)</span>
                <span>₹{{ order.sub_total }}</span>
            </div>

            <div class="summary-row">
                <span>Shipping</span>
                <span>₹{{ order.delivery_total }}</span>
            </div>
            
            <div class="summary-row">
                <span>GST & Taxes</span>
                <span>₹{{ order.tax_total }}</span>
            </div>

            <div class="summary-row">
                <span>Discount Applied</span>
                <span>₹{{ order.discount_total }}</span>
            </div>
            
            <div class="delivery-info">
                <h4>Delivery Address</h4>
                <div class="delivery-address">
                    <p>{{ address.full_name }}</p>
                    <p>{{ address.address_line }}, {{ address.city }}, {{ address.state }}, pin {{ address.pincode }}</p>
                    <p>Phone: {{ address.phone }}, {{address.second_phone}}</p>
                    <!-- <p>To: 123 Maple Street, Anytown, USA</p> -->
                </div>
                
                <h4>Delivery Date</h4>
                <div class="delivery-date">
                    <i class="fas fa-truck"></i>
                    <span>Estimated Delivery: July 15, 2024</span>
                </div>
            </div>
            
            <div class="summary-row total">
                <span>Total</span>
                <span>₹{{ order.grand_total }}</span>
            </div>
        </div>

    </div>
</div>
{% endblock %}

{% block scripts %}
<script>
    csrf_token = '{{ csrf_token }}'
    create_razorpay_order_url = "{% url 'create_razorpay_order' %}"
    order_id = '{{ order.id }}'
</script>
<!-- Razorpay's Javascript code. -->
<script src="https://checkout.razorpay.com/v1/checkout.js"></script>
<script src="{% static 'order/js/payment.js' %}"></script>

{% endblock %}