{% extends 'admin_base/base.html' %}
{% load static %}
{% block styles %}
<link rel="stylesheet" href="{% static 'product/admin/css/list.css' %}">
<link rel="stylesheet" href="{% static 'admin/css/components/pagination.css' %}">
{% endblock %}

<!-- Main Content -->
{% block content %}
<!-- Main Content -->
<main class="main-content">
    <!-- Page Header -->
    <div class="page-header">
        <h1 class="page-title">Order Management</h1>
    </div>

    <!-- Search and Filters -->
    <div class="filters-section">
        <!-- Search Form -->
        <form method="GET" action="{% url 'admin-list-orders' %}" id="searchForm" class="search-form">


            <!--to preserve filter query params-->
            {% if request.GET.category %}
            <input type="hidden" name="date_range" value="{{ request.GET.date_range }}">
            {% endif %}
            {% if request.GET.style %}
            <input type="hidden" name="payment_method" value="{{ request.GET.payment_method }}">
            {% endif %}
            {% if request.GET.stock %}
            <input type="hidden" name="payment_status" value="{{ request.GET.payment_status }}">
            {% endif %}
            {% if request.GET.price %}
            <input type="hidden" name="order_status" value="{{ request.GET.order_status }}">
            {% endif %}


            <div class="search-container">
                <div class="search-bar">
                    <input type="text" name="search" placeholder="Search Orders.." id="searchInput"
                        value="{{ request.GET.search }}">
                    <span class="search-icon">
                        <svg viewBox="0 0 24 24">
                            <circle cx="11" cy="11" r="8"></circle>
                            <path d="m21 21-4.35-4.35"></path>
                        </svg>
                    </span>

                    <!--search field clear button-->
                    <div class="search-actions">
                        <a href="{% url 'admin-list-orders' %}">
                            <button type="button" class="clear-btn" id="clearBtn">
                                <svg viewBox="0 0 24 24">
                                    <line x1="18" y1="6" x2="6" y2="18"></line>
                                    <line x1="6" y1="6" x2="18" y2="18"></line>
                                </svg>
                            </button>
                        </a>
                    </div>

                </div>
                <button type="submit" class="search-btn" id="searchBtn">
                    <svg viewBox="0 0 24 24">
                        <circle cx="11" cy="11" r="8"></circle>
                        <path d="m21 21-4.35-4.35"></path>
                    </svg>
                    <span>Search</span>
                </button>
                <button type="button" class="filter-toggle-btn" id="filterToggle" onclick="toggleFilters()">
                    <span class="filter-icon"></span>
                    <span>Filters</span>
                </button>
            </div>
        </form>
        <!-- Filters Form -->
        <form method="GET" action="" id="filterForm" class="filter-form">
            {% if request.GET.search %}
            <input type="hidden" value="{{ request.GET.search }}" name="search">
            {% endif %}
            <div class="filters-container {% if request.GET.category or request.GET.style or request.GET.stock or request.GET.price %}show{% endif %}" id="filtersContainer">
                <div class="filters-row">

                    <div class="filter-group">
                        <select name="category" id="categorySelect" class="filter-select">
                            <option value="">Date Range</option>
                            <option value="today" {% if request.GET.date == 'today' %}selected {% endif %}>Today</option>
                            <option value="week" {% if request.GET.date == 'week' %}selected {% endif %}>This Week
                            </option>
                            <option value="month" {% if request.GET.date == 'month' %}selected {% endif %}>This Month
                            </option>
                            <option value="year" {% if request.GET.date == 'year' %}selected {% endif %}>This Year
                            </option>
                        </select>
                    </div>

                    <div class="filter-group">
                        <select name="category" id="categorySelect" class="filter-select">
                            <option value="">Payment method</option>
                            <option value="men" {% if request.GET.category == 'men' %}selected{% endif %}>COD</option>
                            <option value="women" {% if request.GET.category == 'women' %}selected{% endif %}>CREDIT_CARD</option>
                            <option value="kids" {% if request.GET.category == 'kids' %}selected{% endif %}>DEBIT_CARD</option>
                            <option value="unisex" {% if request.GET.category == 'unisex' %}selected{% endif %}>UPI</option>
                             <option value="unisex" {% if request.GET.category == 'unisex' %}selected{% endif %}>WALLET</option>
                        </select>
                    </div>

                    <div class="filter-group">
                        <select name="stock" id="stockSelect" class="filter-select">
                            <option value="">Payment Status</option>
                            <option value="in_stock" {% if request.GET.stock == 'in_stock' %}selected{% endif %}>PENDING</option>
                            <option value="low_stock"  {% if request.GET.stock == 'low_stock' %}selected{% endif %}>PAID</option>
                            <option value="out_of_stock" {% if request.GET.stock == 'out_of_stock' %}selected{% endif %}>FAILED</option>
                            <option value="out_of_stock" {% if request.GET.stock == 'out_of_stock' %}selected{% endif %}>COD</option>
                            <option value="out_of_stock" {% if request.GET.stock == 'out_of_stock' %}selected{% endif %}>REFUNDED</option>
                        </select>
                    </div>

                    <div class="filter-group">
                        <select name="price" id="priceSelect" class="filter-select">
                            <option value="">Order Status</option>
                            <option value="0-500" {% if request.GET.price == '0-500' %}selected{% endif %}>PLACED</option>
                            <option value="500-1000" {% if request.GET.price == '500-1000' %}selected{% endif %}>PROCESSING</option>
                            <option value="1000-2000" {% if request.GET.price == '1000-2000' %}selected{% endif %}>SHIPPED</option>
                            <option value="2000+" {% if request.GET.price == '2000+' %}selected{% endif %}>DELIVERED</option>
                            <option value="2000+" {% if request.GET.price == '2000+' %}selected{% endif %}>CANCELLED</option>
                            <option value="2000+" {% if request.GET.price == '2000+' %}selected{% endif %}>RETURNED</option>
                        </select>
                    </div>

                </div>
                <div class="filter-actions">
                    <button type="submit" class="btn btn-apply" id="applyFiltersBtn">Apply Filters</button>
                    <a href="{% url 'admin-list-orders' %}">
                        <button type="button" class="btn btn-reset" id="resetFiltersBtn">Rest Filters</button>
                    </a>
                </div>
            </div>
        </form>
    </div>

    <!-- Product Table -->
    <div class="table-container">
        <table>
            <thead>
                <tr>
                    <th>ORDER ID</th>
                    <th>Customer</th>
                    <th>Product</th>
                    <th>Total Amount</th>
                    <th>Payment Method</th>
                    <th>Payment Status</th>
                    <th>Order Status</th>
                    <th>Date</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>

                {% for order in page_obj %}
                <tr>
                    <td class="product-id">{{ order.order_item_id }}</td>
                    <td>
                        {{ order.order.user.full_name }}
                    </td>
                    <td class="product-name">{{ order.product.name }}</td>
                    <td class="product-price">₹{{ order.total }}</td>
                    <td class="product-stock">{{ order.order.payment_method }}</td>
                    <td>

                        <span class="status-badge status-active">{{ order.payment_status }}</span>

                        <!-- <span class="status-badge status-inactive">Deleted</span> -->

                    </td>
                    <td>
                        <span class="status-badge status-active">{{ order.order_status }}</span>
                    </td>
                    <td>
                        {{ order.created_at.date }}
                    </td>
                    <td>
                        <a href="{% url 'admin-order-details' order.id %}">
                            <button class="btn-view">View</button>
                        </a>
                    </td>
                </tr>
                {% endfor %}

            </tbody>
        </table>

        <!-- Pagination -->
        {% include 'admin_base/components/pagination.html' %}

    </div>
</main>
{% endblock %}

{% block scripts %}
<script src="{% static 'product/admin/js/list.js' %}"></script>
{% endblock %}